*.
.dropbox
python_vorkurs_SoSe16_lectures.pdf
ML2_exercise_1/01_lle_intro_cropped.pdf
ML2_exercise_1/01_LLE_TUB_14.pdf
ML2_exercise_1/FSCLHW_sheet01.ipynb
ML2_exercise_1/lle-1_matlab_code_website.m
ML2_exercise_1/sheet01.ipynb
ML2_exercise_1/sheet01.pdf
ML2_exercise_1/sheet01.zip
ML2_exercise_1/sheet01.zip.gpg
ML2_exercise_1/utils.py
ML2_exercise_1/.ipynb_checkpoints/sheet01-checkpoint.ipynb
ML2_exercise_1/__pycache__/utils.cpython-35.pyc
ML2_exercise_1/sheet1_ex1_ex2/ML2_sheet1_ex_1_ex2.tex
ML2_exercise_1/sheet1_theory/ML2_sheet1_ex.aux
ML2_exercise_1/sheet1_theory/ML2_sheet1_ex.log
ML2_exercise_1/sheet1_theory/ML2_sheet1_ex.pdf
ML2_exercise_1/sheet1_theory/ML2_sheet1_ex.synctex.gz
ML2_exercise_1/sheet1_theory/ML2_sheet1_ex.tex
ML2_exercise_2/ML2_VL02_SNE-T-SNE-TUB.pdf
ML2_exercise_2/sheet02.pdf
ML2_exercise_2/sheet02.zip
ML2_exercise_2/sheet02_prog.pdf
ML2_exercise_2/vandermaaten08a.pdf
ML2_exercise_2/sheet02/FSCLHW_sheet02.ipynb
ML2_exercise_2/sheet02/sheet02_Ching.ipynb
ML2_exercise_2/sheet02/sheet02_hw.ipynb
ML2_exercise_2/sheet02/utils.py
ML2_exercise_2/sheet02/utils.pyc
ML2_exercise_2/sheet02/.ipynb_checkpoints/FSCLHW_sheet02-checkpoint.ipynb
ML2_exercise_2/sheet02/.ipynb_checkpoints/sheet02_hw-checkpoint.ipynb
ML2_exercise_2/sheet02_theory/ML2_Exercise Sheet 2_FSCLHW.pdf
ML2_exercise_2/sheet02_theory/ML2_sheet02_ex1_ex2.aux
ML2_exercise_2/sheet02_theory/ML2_sheet02_ex1_ex2.log
ML2_exercise_2/sheet02_theory/ML2_sheet02_ex1_ex2.pdf
ML2_exercise_2/sheet02_theory/ML2_sheet02_ex1_ex2.synctex.gz
ML2_exercise_2/sheet02_theory/ML2_sheet02_ex1_ex2.tex
ML2_exercise_4/autoencoder.png
ML2_exercise_4/ML2_sheet04.pdf
ML2_exercise_4/ML2_sheet04_theory.aux
ML2_exercise_4/ML2_sheet04_theory.log
ML2_exercise_4/ML2_sheet04_theory.pdf
ML2_exercise_4/ML2_sheet04_theory.synctex.gz
ML2_exercise_4/ML2_sheet04_theory.tex
ML2_exercise_4/ML2_VL04_autoencoders.pdf
ML2_exercise_4/sheet04.pdf
ML2_exercise_4/sheet04.zip
ML2_exercise_4/.ipynb_checkpoints/sheet04-checkpoint.ipynb
ML2_exercse_3/CCA_online_tutorial.pdf
ML2_exercse_3/CCA_online_tutorial_cropped.pdf
ML2_exercse_3/document.aux
ML2_exercse_3/document.log
ML2_exercse_3/document.pdf
ML2_exercse_3/document.synctex.gz
ML2_exercse_3/ML2_sheet03.tex
ML2_notes/commands_de.tex
ML2_notes/klammern.tex
ML2_notes/ML2_master.aux
ML2_notes/ML2_master.bbl
ML2_notes/ML2_master.blg
ML2_notes/ML2_master.log
ML2_notes/ML2_master.out
ML2_notes/ML2_master.pdf
ML2_notes/ML2_master.synctex.gz
ML2_notes/ML2_master.tex
ML2_notes/ML2_Vorlesung_1.tex
ML2_notes/ML2_Vorlesung_2.tex
ML2_notes/ML2_Vorlesung_3.tex
ML2_notes/ML2_Vorlesung_4.tex
ML2_notes/ML2_Vorlesung_5.tex
ML2_notes/packages.tex
ML2_notes/panel_ex1.log
*.
